.header {
  padding: 45px;
  position: fixed;
  text-align: center;
  background: #849ebe;
  color: white;
  font-size: 30px;
  font-weight: 800;
}

.wrapper {
  min-height: 80vh;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #2F4F4F;
  position: relative;
}

section {
  height: 100vh;
  width: 80vw;
  float: right;
  font-size: 40px;
  font-weight: 100;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  background: #f0f0f0;
}
section:nth-child(2) {
  background: white;
}
section:nth-child(3) {
  background: #f0f0f0;
}
section:nth-child(4) {
  background: white;
}
section:nth-child(5) {
  background: #f0f0f0;
}
section:nth-child(6) {
  background: white;
}
section:nth-child(7) {
  background: #f0f0f0;
}


.nav__wrapper {
  height: 80vh;
  padding: 20vw;
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  
}
.nav {
  margin: 15% 80% 15% 5%;

}
.nav__counter {
  font-size: 18px;
  font-weight: bold;
  transition: all 0.15s ease-out;
  color: white;
  background-color: #849ebe;
}
.nav__title {
  font-size: 14px;
  font-weight: 300;
  color: white;
  background-color: #849ebe;
  margin: 0 0 0.25em;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.nav__body {
  font-weight: 100;
  font-size: 18px;
  font-size: 18px;
  color: white;
  background-color: #849ebe;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.nav li {
  position: relative;
  transition: all 0.3s ease-out;
  margin-bottom: 1em;
}
.nav li:after {
  content: "";
  display: block;
  border-left: 2px solid #849ebe;
  border-top: 2px solid #2F4F4F;
  height: 250px #849ebe;
  width: 20px #849ebe;
  position: absolute;
  left: -30px;
  top: 15px;
  padding: 20px #849ebe
}
.nav li a {
  display: block;
  padding: 0;
  color: #2F4F4F;
  transition: all 0.15s ease-out;
}
.nav li a:hover {
  background-color: #849ebe;
  padding-left: 1em;
}
.nav li a:focus {
  background-color: #849ebe;
}
.nav li.active {
  pointer-events: none;
  padding-left: 1em;
}
.nav li.active:after {
  width: 35px;
  height: 400px;
  top: 35px;
}
.nav li.active .nav__counter {
  font-size: 48px;
  color: white;
}
.nav li.active .nav__title {
  height: 40px;
  opacity: 1;
  overflow: visible;
}
.nav li.active .nav__body {
  height: 100px;
  opacity: 1;
  overflow: visible;
}